// Reset y elementos base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background-color: #f9fff9;
  color: $text-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
