// Botones, tarjetas, formularios
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;

  .card {
    background-color: $secondary-color;
    border-radius: $radius;
    text-align: center;
    padding: 30px 15px;
    font-weight: bold;
    color: $primary-color;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }
  }
}

button {
  @include btn-style;
}
