// Mixins reutilizables
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn-style {
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: $radius;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
